<div id="show-survey">
  <h2><%= @survey.title %></h2>
  <p><%= @survey.description %></p>
  <button type="button">Take Survey</button>
  <div id="instructions">
    <p>Please select <span>one</span> answer from the choices provided.</p>
  </div>
  <div id="show-question">
  </div>
</div>

