img {
  display: inline-block;
  height: 100px;
  width: 100px;
}

h1 {
  display: inline-block;
}

header {
  border-bottom: 2px solid green;
  margin-bottom: 50px;
}

#login-toolbar {
  display: inline-block;
  float: right;
}

#instructions, #questions {
  display: none;
}

#take-survey {
  display: inline-block;
}

ul {
  list-style-type: none;
}

