img {
  display: inline-block;
  height: 100px;
  width: 100px;
}

h1 {
  display: inline-block;
}

header {
  border-bottom: 2px solid green;
  width:100%;
  position:fixed;
  top:0px;
  background-color:white;
  z-index:2;
}

#login-toolbar {
  display: inline-block;
  float: right;
}

#instructions, #questions {
  display: none;
}

#take-survey {
  display: inline-block;
}

.col-md-12 {
  height:36px;
}

ul {
  list-style-type: none;
  margin:0px;
}


.username {
  font-size:12px;
  margin-bottom:10px;
}

#content {
  position:relative;
  margin-top:120px;
  z-index:1;
}

.container {
  border-right:2px solid green;
  border-left:2px solid green;
  overflow:scroll;
}

.survey-title{
  font-size:20px;
}

.survey-div {

}

.survey-stats {
    display: none; 
}

.breadcrumb {
  background-color:white;
}

.index {
  padding:0px;
}