<div class="container">  
  <form role="role" action="/answers" method="POST">
    <div class="form-group">
      <label>Answers</label>
      <input type="password" class="form-control" placeholder="Enter answer choice 1">
      <input type="password" class="form-control" placeholder="Enter answer choice 2">
      <input type="password" class="form-control" placeholder="Enter answer choice 3">
      <input type="password" class="form-control" placeholder="Enter answer choice 4">
      <input type="submit" placeholder="submit answers">
    </div>
  </form>
</div>