<h2>Add answers</h2>
<form role="role" action="/answers" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter answer choice 1">
    <input type="text" class="form-control" placeholder="Enter answer choice 2">
    <input type="text" class="form-control" placeholder="Enter answer choice 3">
    <input type="text" class="form-control" placeholder="Enter answer choice 4">
    <button type="submit" class="btn btn-default">Submit answers</button> 
  </div>
</form>
