<h2>Add answers</h2>
<form id="answer-form" role="role" action="/answers" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter answer choice 1" name="ac1">
    <input type="text" class="form-control" placeholder="Enter answer choice 2" name="ac2">
    <input type="text" class="form-control" placeholder="Enter answer choice 3" name="ac3">
    <input type="text" class="form-control" placeholder="Enter answer choice 4" name="ac4">
    <input type="hidden" value="<%=@question.id%>" name="question_id">
    <button type="submit" class="btn btn-default">Submit answers</button> 
  </div>
</form>
