<h2>Add a question</h2>
<form id="question-form" role="form" action="/questions" method="POST">
  <div class="form-group">
    <label>Question</label>
    <input type="text" name="question[content]" class="form-control" placeholder="Enter question">
    <input type="hidden" value="<%= @survey.id %>" name="question[survey_id]">
    <button type="submit" class="btn btn-default">Submit question</button> 
  </div>
</form>