<div class="container">
  <ul>
    <% @surveys.each do |survey| %>
      <a href='/surveys/<%=survey.id%>'>
        <li class="survey-title"><%= survey.title %></li>
      </a>
        <li class="username">by: <a href='/users/<%=user_from_survey(survey).id %>'><%= user_from_survey(survey).name %></li></a>
    <% end %>
  </ul>
</div>