<div class="container">
  <ul class="index">
    <% @surveys.each do |survey| %>
        <li class="survey-title">
          <a href='/surveys/<%=survey.id%>'><%= survey.title %></a>
        </li>
        <li class="username">by: <a href='/users/<%=user_from_survey(survey).id %>'><%= user_from_survey(survey).name %></a>
        </li>
    <% end %>
  </ul>
</div>