<div class="container">
  <div class="qa-form">
    <h2>Create a survey</h2>
    <form id="survey-form" role="form" action="/surveys" method="POST">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" placeholder="Enter a title" name="survey[title]">
        <input type="text" class="form-control" placeholder="Enter a description" name="survey[description]">
        <input type="hidden" value="<%= @user.id %>" name="survey[user_id]">
        <button type="submit" class="btn btn-default" id="continue">continue</button>
      </div>
    </form>
  </div>
  <div class="new-question"></div>
  <div class="new-answers"></div>
  <div class="added-questions"></div>
  <form action="/surveys">
    <button type="submit" class="btn btn-default">Finish survey</button>
  </form>
</div>