<div class="container">
  <div id="show-survey">
    <h2><%= @survey.title %></h2>
    <p><%= @survey.description %></p>
    <button type="button" class="btn btn-default" id="show">Show Survey</button>
    <% if !user_has_taken_survey?(@survey) && !user_created_survey?(@survey) %>
      <form id="take-survey" action="/questions/:id" method="GET">
        <input type="hidden" name="question_id" value="<%= next_question(session[:questions]) %>">
        <button type="submit" class="btn btn-default" id="take">Take Survey</button>
      </form>
    <% end %>
    <div id="instructions">
      <p>Please select <span>one</span> answer from the choices provided.</p>
    </div>
    <div id="questions">
      <% @questions.each do |question| %>
        <%= erb :_question, locals: {question: question} %>
      <% end %>
    </div>
    <div id="question-display">
    </div>
  </div>
</div>
