<h3><%= question.content %></h3>
<form class="question-response" action="/answer_users" type="POST">
  <% question.answers.each do |answer| %>
    <%= erb :_answer, locals: {answer: answer} %>
  <% end %>
  <button class="response" type="submit">Submit</button>
</form>
